<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="../static/css/app.css" />

    <!-- <script type="text/javascript" src="../static/js/async_await_simple.js"></script>
    <script type="text/javascript" src="../static/js/async_await_advance.js"></script>
    <script type="text/javascript" src="../static/js/promise_simple.js"></script>
    <script type="text/javascript" src="../static/js/promise_advance.js"></script> -->
    <script type="module" src="../static/js/app.js"></script>
</head>

<body>
    <div class="o_main">
        <div class="o_header">
            <div><a id="o_simple_timeout" href="#">Simple Timeout</a></div>
            <div><a id="o_simple_async_await" href="#">Simple Async/Await</a></div>
            <div><a id="o_advance_async_await" href="#">Advance Async/Await</a></div>
            <div><a id="o_simple_promise" href="#">Simple Promise</a></div>
            <div><a id="o_advance_promise" href="#">Advance Promise</a></div>
            <div><a id="o_custom_event" href="#">Custom Event</a></div>
            <div><a id="o_closure" href="#">Closure</a></div>
            <div><a id="o_observer" href="#">Observer</a></div>
        </div>
        <div class="o_content">

        </div>
    </div>
</body>
<footer>
</footer>

</html>